/* portofolio stylesheet */
* {
    box-sizing: border-box;
    background-color: lightblue;
    font-family: sans-serif;
}
body {
    font-size: large;
    margin:0;
}
nav{
    display:flex;
    flex-wrap:wrap;
}
nav a{
    padding: 2%;
    margin: 5%;
}
header {
    text-align: center;
    border-style: solid;
    border-color:white;
    padding:2%;
    margin: 0;
    font-size: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.contact {
    border-style: solid;
    border-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

aside {
    border-style: solid;
    border-color: white;
    font-size: 100%;
    width:100%;
}