/* portofolio stylesheet */
* {
    flex-direction: row;
    flex-wrap: wrap;
    font-family: sans-serif;
    color:#000000ff;
}
body {
    font-size: 100%;
    background-color: #14213dff;
    position: sticky;
    margin: 2%;
    padding:3%;
}
header {
    background-color:#fca311ff;
    border-style: solid;
    border-color:#000000ff;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    text-align: center;
    height: 12%;
}

/* #hyper{
    /* padding:2%;
    object-fit: scale-down; */
    /* align-self: bottom;
} */ 


main{
    background-color: #e5e5e5ff;
}
div { 
    border-style: solid;
    border-color: #000000ff;
    width:100%;
    background-color: #e5e5e5ff;
    padding:3%;
}
aside {
    border-style: solid;
    border-color: #000000ff;
    width:100%;
    background-color: #e5e5e5ff;
    text-align: center;
    padding:3%;
}

#ul {
    list-style: none;
}

#img {
    height:50%;
    width: 50%;
    object-fit: scale-down;
}
section{
    border-style: solid;
    border-color: #000000ff;
    width:100%;
    background-color: #e5e5e5ff;
    padding:3%;
}
footer{
    background-color:#fca311ff;
    height: 12%;
    position:fixed;
    bottom:0;
    left:0;
    width: 100%;
    border-style: solid;
    border-color: #000000ff;
    text-align: center;
}
#contact{
    height: 10%;
    width: 10%;
    object-fit: scale-down;
}

/* $black: #000000ff;
$oxford-blue: #14213dff;
$orange-web: #fca311ff;
$platinum: #e5e5e5ff;
$white: #ffffffff; */