/* portofolio stylesheet */
* {
    margin: 0;
    padding: 0;
    /* flex-direction: row;
    flex-wrap: wrap; */
    font-family: sans-serif;
    color:#000000ff;
}
body {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    background-color: #14213dff;
    align-items: center;
}
header {
    font-size: 20px;
    background-color:#fca311ff;
    border-style: solid;
    border-color:#000000ff;
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center;
    height: auto;
    padding: auto;
    margin: 0;
    display: flex;
    justify-content: center;

}

header nav {
    width: 5px;
    flex: 1 0 0;
    margin: auto;
    padding: auto;
    border: none;
    display: flex;
    justify-content:space-evenly;
}
.nav {
    font-size: auto;
    font-family: bold;
    padding: auto;
    margin:auto
}

h1 {
    justify-content: center;
    font-family: impact;
    font-size: 40px;
    padding:auto;
    max-width: 40%;
}

h2, h3, h4, h5 {
    font-size: 30px;
    font-family: bold;
}

main {
    padding:2%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
div { 
    display:flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: #000000ff;
    width:100%;
    background-color: #e5e5e5ff;
}
aside {
    border-style: solid;
    border-color: #000000ff;
    width:100%;
    background-color: #e5e5e5ff;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#ul {
    list-style: none;
}

#img {
    height:30%;
    width: 30%;
}
#link {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: #000000ff;
    width:100%;
    background-color: #e5e5e5ff;
}
footer{
    background-color:#fca311ff;
    height: auto;
    position:sticky;
    bottom:0;
    width: 100%;
    border-style: solid;
    border-color: #000000ff;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

footer div {
    width: 10px;
    flex: 1 0 0;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

footer div img {
    padding: auto;
    margin: auto;
    height: auto;
    width: auto;
    max-width: 45%;
}

 @media screen and (max-width: 780px){
    footer div {
        width: 4px;
    }
}

/* $black: #000000ff;
$oxford-blue: #14213dff;
$orange-web: #fca311ff;
$platinum: #e5e5e5ff;
$white: #ffffffff; */