/* portofolio stylesheet */
* {
    box-sizing: border-box;
    font-family: sans-serif;
    color:#000000ff;
}
body {
    font-size: 100%;
    background-color: #e5e5e5ff;
}
header {
    background-color:#fca311ff;
    text-align: center;
    border-style: solid;
    border-color:#14213dff;
    padding:2% 2%;
    margin: 0% 0%;
    font-size: 100%;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    justify-content: center;
}
nav{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
nav a{
    padding: 1% 10%;
}

div { 
    border-style: solid;
    border-color: #14213dff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    /* margin: 2%; */
    padding:1%;
}
aside {
    flex-direction: row;
    flex-wrap: wrap;
    border-style: solid;
    border-color: #14213dff;
    font-size: 100%;
    width:100%;
    left:0;
}
footer{
    background-color:#fca311ff;
    flex-direction: row;
    flex-wrap: wrap;
    position:fixed;
    bottom:0;
    left:0;
    width: 100%;
    justify-content: center;   
}
.contact {
    border-style: solid;
    border-color: #14213dff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
}

/* $black: #000000ff;
$oxford-blue: #14213dff;
$orange-web: #fca311ff;
$platinum: #e5e5e5ff;
$white: #ffffffff; */