/* portofolio stylesheet */
* {
    box-sizing: border-box;
    font-family: sans-serif;
    color:#000000ff;
}
body {
    font-size: 100%;
    background-color: #14213dff;
    position: sticky;
}
header {
    background-color:#fca311ff;
    text-align: center;
    border-style: solid;
    border-color:#000000ff;
    padding:2% 2%;
    font-size: 100%;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    justify-content: center;
    height: 10em;
}
nav{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
nav a{
    padding: 1% 10%;
}
main{
    margin-top: 10em;
    margin-bottom: 8.9em;
    margin-left: 4em;
    margin-right: 4em;
    background-color: #e5e5e5ff;
}
div { 
    border-style: solid;
    border-color: #000000ff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    padding:1%;
}
aside {
    flex-direction: row;
    flex-wrap: wrap;
    border-style: solid;
    border-color: #000000ff;
    font-size: 100%;
    width:100%;
    left:0;
    background-color: #e5e5e5ff;
}
h3{
    font-size: 100%;
    width:100%;
}
section{
    flex-direction: row;
    flex-wrap: wrap;
    border-style: solid;
    border-color: #000000ff;
    font-size: 100%;
    width:100%;
    background-color: #e5e5e5ff;
}
footer{
    background-color:#fca311ff;
    height: auto;
    position:fixed;
    bottom:0;
    left:0;
    width: 100%;
    border-style: solid;
    border-color: #000000ff;
}
#icons{
    display:flex;
    justify-content: center;
}
footer a img{
    width: 6em;
    height: 6em;
}

/* $black: #000000ff;
$oxford-blue: #14213dff;
$orange-web: #fca311ff;
$platinum: #e5e5e5ff;
$white: #ffffffff; */